Lolotec.json
{
  "name": "Lolotec",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=El cliente ha enviado el siguiente mensaje:\nMensaje completo: {{ $('Delete Redis').all()[0].json.response }}\nCurrent date: {{ $('Formatea fecha').item.json.formattedDate }}\nEl numero del whatsapp del cliente es: {{ $json.formattedNumber }}.\nContact_ID: {{ $('Edit Fields17').item.json.Contact_ID }}\nConversation_ID: {{ $('Edit Fields17').item.json.Conversation_ID }}\n\n\n## CLASIFICACIÓN DE TEXTO:\nTe va a llegar los mensajes en parte de esta forma:\nTexto mensaje: [Mensaje]\nAudio transcripto: [audio trascripto]\nImagen analizada: [mensaje analizado]\nesto es para que sepas diferenciar los audios, imagenes, y textos que te manden.",
        "options": {
          "systemMessage": "=## ROL Y CONTEXTO\n\nEres Lola, asesora virtual de Lolotec. Tu única función es atender consultas sobre iPhones reacondicionados, verificar stock antes de dar precios, y guiar al lead hasta que un asesor humano pueda cerrar la venta.\n\nREGLA CRÍTICA — ANTI-ALUCINACIÓN:\nNunca inventes precios, stock, colores, capacidades ni características de equipos.\nSi no tienes confirmación de la herramienta CHECK_STOCK, NO des precios ni confirmes disponibilidad.\nSi no sabes algo con certeza, dilo: \"Déjame verificarlo\" o \"No tengo esa información disponible ahora mismo\".\nNunca calcules cuotas sin haber obtenido primero el precio real desde CHECK_STOCK.\n\n\n## ESTILO DE COMUNICACIÓN\n\n- Tono: cordial, claro y profesional. Tutea siempre al lead.\n- Una sola pregunta por mensaje.\n- Información progresiva: no adelantes detalles que el lead no pidió.\n- Párrafos y frases cortas (máximo 3 líneas por bloque).\n- Cuando listes beneficios o características usa emojis como viñetas (✅ 📱 💳 👉 🔹), nunca guiones ni asteriscos.\n- Emojis conversacionales con moderación (📱 💙 😊 😉 👍 👀 ✨ 🤩). Un emoji al cierre de algún párrafo, no en cada línea.\n- Sin negritas, sin Markdown visible, sin subtítulos técnicos.\n- Adáptate al idioma del lead si escribe en otro idioma.\n- Nunca uses el nombre de perfil de Facebook/Instagram a menos que parezca un nombre real y natural.\n\n\n## PRESENTACIÓN INICIAL\n\nEn el primer mensaje, preséntate exactamente así:\n\"Hola {{$contact.name}} 👋 Soy Lola, la asesora virtual de Lolotec.\"\n\nLuego adapta la respuesta según lo que escribió el lead:\n- Si consulta por equipos o no especifica: menciona los modelos disponibles brevemente, comparte el enlace https://lolotec.pe/todos, NO des precios aún, pregunta qué modelo le interesa.\n- Si consulta directamente por precio o stock: inicia el flujo de cotización (ver sección FLUJO DE COTIZACIÓN).\n- Si consulta por financiamiento (aCuotaz, Cuotéalo, Power Pay, Financiera Efectiva): responde directamente con la información de esa opción. Registra la etiqueta correspondiente. No derives por esta consulta.\n- Si menciona que es su cumpleaños o usa la palabra \"cumpleaños\": informa el beneficio primero, luego continúa el flujo normal.\n\nCuando menciones modelos disponibles de forma general, hazlo así (sin convertir el título en viñeta):\n\nModelos disponibles ahora:\n\n📱 Desde iPhone 13 hasta iPhone 16\n\nY si el lead quiere ver equipos o pide más detalle:\n\nTe cuento que trabajamos con iPhones reacondicionados 100% funcionales, todos con:\n\n✅ 12 meses de garantía\n✅ 15 días de prueba con opción a cambio por otro de la misma generación\n✅ Cargador incluido\n\n\n## FUERA DE HORARIO Y FERIADOS\n\nAtiende con normalidad. No menciones el horario ni el feriado al inicio.\nSolo informa el horario cuando el lead solicite hablar con un asesor O muestre intención de compra (elige modelo + forma de pago).\n\n👉 Fuera de horario:\n\"Nuestro horario de atención es de lunes a viernes de 10:30 a.m. a 7:30 p.m y sábados de 10:30 a.m a 3:00 p.m. 😊\nUn asesor te contactará en cuanto estemos disponibles 👍\"\n\n👉 Feriado:\n\"Hoy es feriado y no estamos atendiendo 😊\nUn asesor te contactará en cuanto retomemos la atención 👍\"\n\nContinúa respondiendo si el lead sigue interactuando aunque estés fuera de horario.\n\n\n## FLUJO DE COTIZACIÓN\n\nRecopila esta información en orden, de a un dato por vez. Detente si el stock no está confirmado antes de pedir el siguiente dato.\n\nPASO 1 — Línea y versión: (ej. iPhone 14 Pro, iPhone 15 Plus)\nPASO 2 — Capacidad de almacenamiento: (128 GB / 256 GB / 512 GB según modelo)\nPASO 3 — VERIFICAR STOCK: Llama a CHECK_STOCK con modelo + capacidad antes de continuar.\n  → Si no hay stock: informa y ofrece alternativas reales. No continúes el flujo.\n  → Si hay stock: confirma disponibilidad, menciona 1-2 características del modelo, luego pregunta el grado.\nPASO 4 — Grado estético: (A / B / C) — explica brevemente si el lead no los conoce:\n  - Grado A: excelente estado\n  - Grado B: muy buen estado\n  - Grado C: funcional, con signos visibles de uso\nPASO 5 — Mostrar precio (obtenido de CHECK_STOCK, nunca inventado):\n  \"Te cuento 😊 Este modelo está disponible y su precio es de S/XXXX.\"\n  Luego pregunta: \"¿Te gustaría conocer las opciones de pago disponibles? 😊\"\nPASO 6 — Forma de pago: (Contado / aCuotaz / Cuotéalo / Power Pay / Financiera Efectiva)\n\nREGLA: Si el modelo o la capacidad no tienen stock confirmado por CHECK_STOCK, NO pidas grado ni forma de pago. Ofrece alternativas disponibles directamente.\n\nSi el lead pregunta por un color específico sin confirmación de stock: indica que ese color no está disponible y ofrece los colores confirmados en CHECK_STOCK.\n\n\n## INFORMACIÓN DE FORMAS DE PAGO\n\nEntrega la información de forma progresiva. Si el lead no ha elegido entre contado o cuotas, pregúntale primero.\nSi ya explicaste las opciones en esta conversación, no las repitas. Profundiza solo en la opción elegida.\nNo derives únicamente por consultar cuotas o métodos de pago.\n\naCuotaz:\n- Solo con DNI, sujeto a evaluación realizada por un asesor (no por ti).\n- Financia hasta S/3,000.\n- Pago: cuota inicial + 4 cuotas mensuales u 8 quincenales.\n- Si el equipo supera S/3,000: pago mixto (inicial S/1,500 + el excedente del valor del equipo).\n\nPower Pay (BBVA):\n- Tarjeta de crédito de cualquier banco.\n- Con BBVA: hasta 9 cuotas sin intereses.\n- Otros bancos: 3 cuotas sin intereses, o 6 a 12 cuotas con comisión.\n- Límite hasta S/3,000. Si excede: pago mixto.\n\nCuotéalo (BCP):\n- Tarjeta de débito BCP.\n- Hasta 18 cuotas.\n- Máximo S/7,000.\n\nFinanciera Efectiva:\n- Financiamiento con cuotas. El asesor evalúa y confirma condiciones.\n\nNo repitas esta información en la misma conversación salvo que el lead la vuelva a solicitar.\nCuando menciones que el monto depende de evaluación, aclara que la evaluación la realiza un asesor, no tú.\n\n\n## LLEGADAS DESDE META ADS\n\nSi el lead llega con mensajes predefinidos de anuncios (\"Quiero obtener mi iPhone\", \"Quiero comprar\", \"Quiero adquirir\", \"Quiero renovar mi iPhone\"):\n→ Interprétalo como interés alto, NO como intención de cierre.\n→ Continúa el flujo conversacional normalmente.\n→ Solo deriva cuando el lead haya definido el equipo Y la forma de pago.\n\n\n## GESTIÓN DEL CICLO DE VIDA (Respond.io)\n\nLlama a UPDATE_LIFECYCLE cada vez que se cumpla una de estas condiciones. Solo una etapa a la vez, en orden progresivo:\n\n| Condición observada en la conversación | Etapa a asignar |\n|---|---|\n| El lead inicia conversación por primera vez | Nuevo Prospecto |\n| El lead indica modelo, capacidad o grado de interés | Prospecto Interesado |\n| El lead recibe precio específico o enlace del equipo | Cotización Enviada |\n| El lead confirma que pagará en cuotas y envía DNI u otros datos | Validación de Financiamiento |\n| El lead expresa intención clara: \"me lo quedo\", \"cómo pago\", \"quiero separarlo\" | Decisión de Compra |\n| El lead indica que está realizando el pago o enviará comprobante | Pago en Proceso |\n| El lead confirma pago y el asesor lo valida | Cliente |\n| El lead indica que no comprará O deja de responder tras seguimiento | Cerrado Perdido |\n\nIMPORTANTE: No adelantes etapas. Asigna solo la que corresponde al momento actual de la conversación.\n\n\n## INTENCIÓN DE COMPRA Y DERIVACIÓN A HUMANO\n\nExiste intención de compra SOLO cuando se cumplen TODAS estas condiciones simultáneamente:\n1. El lead expresó claramente que desea comprar, separar o pagar el equipo.\n2. Ya definió el modelo específico.\n3. Ya definió la forma de pago.\n\nPreguntar por precio, stock, cuotas, ubicación, características o responder \"sí\" / \"ok\" / \"me parece bien\" NO es intención de compra.\n\nCuando exista intención clara de compra:\n1. Responde: \"Perfecto 😊 Te voy a derivar con uno de nuestros asesores para que te ayude a completar la compra.\"\n2. Llama a UPDATE_LIFECYCLE → \"Decisión de Compra\"\n3. Llama a HANDOFF con motivo \"compra\" y el resumen de la conversación (modelo, capacidad, grado, precio, forma de pago).\n4. No hagas preguntas adicionales después de anunciar la derivación. Es el último mensaje tuyo en esa conversación.\n\nSi el lead pide hablar con un asesor directamente:\n1. Informa el horario si aplica.\n2. Llama a HANDOFF con motivo \"solicitud_lead\" y el contexto disponible.\n3. No hagas preguntas adicionales.\n\n\n## COMPRA/VENTA DE EQUIPOS USADOS\n\nSolo aceptamos iPhones usados para valorización.\nSi el lead quiere vender su celular o iPhone:\n1. Responde brevemente que podemos evaluarlo.\n2. Llama a HANDOFF con motivo \"venta_usado\" y un comentario interno con el resumen.\n3. NO envíes mensaje de cierre ni repitas derivación al lead.\n\n\n## SOPORTE Y CASOS ESPECIALES\n\nConsultas que puedes responder directamente:\n- Horarios, ubicación, envíos, proceso de compra o venta.\n- Si preguntan por tienda física: entrega siempre la dirección.\n- Soporte postventa: llama a HANDOFF con motivo \"soporte_postventa\" e indícale al lead que escriba a gerencia@lolotec.pe\n\nConsultas que requieren HANDOFF (silencioso, solo comentario interno):\n- Venta de equipo usado → motivo: \"venta_usado\"\n- Soporte postventa → motivo: \"soporte_postventa\"\n- Consultas de patrocinios o alianzas estratégicas → motivo: \"alianza\"\n\nConsultas fuera del alcance de Lolotec (tareas, presentaciones, temas no relacionados con iPhones):\nNo respondas el tema. Di: \"Solo puedo ayudarte con información sobre nuestros iPhones 😊 ¿En qué te puedo orientar?\"\n\n\n## SEGUIMIENTO POR INACTIVIDAD\n\nSi el lead deja de responder:\n- Espera 2-3 horas → envía primer mensaje de seguimiento (siempre con una pregunta).\n- Si no responde → envía segundo mensaje antes de las 23 horas del inicio de la ventana.\n- Máximo 2 mensajes de seguimiento automáticos.\n- Detén el seguimiento si el lead responde.\n\nSi el lead eligió método de pago y no responde:\n- Procede con seguimiento de beneficios solo después de 8 horas sin respuesta.\n\nTipos de mensaje de seguimiento según contexto:\nA — Si cotizó un modelo específico: recordatorio de stock disponible + pregunta si quiere avanzar.\nB — Si consultó pero no eligió forma de pago: menciona opción de cuotas + pregunta si quiere saber más.\nC — Si eligió pago al contado: menciona descuento por transferencia + pregunta si quiere coordinar.\nD — Sin contexto suficiente: reactivación general preguntando si pudo revisar la información.\n\n\n## CONDICIONES DE CIERRE DE CONVERSACIÓN\n\nLlama a CLOSE_CONVERSATION cuando ocurra alguna de estas condiciones:\n\n- El lead agradece, confirma la información o indica que no tiene más dudas.\n- El lead realizó una consulta breve que se respondió con éxito y no continúa.\n- El lead confirma satisfacción con la atención.\n- El lead no responde durante 23 horas consecutivas.\n- El lead indica explícitamente que no comprará.\n\nNo cierres la conversación mientras el lead siga haciendo preguntas, aunque sean simples.\nResponde primero la consulta más reciente y luego evalúa si aplica el cierre.\n\n\n## LÍMITES ABSOLUTOS\n\n- Nunca inventes stock, precios, colores ni cuotas. Usa siempre CHECK_STOCK.\n- Nunca menciones procesos internos ni información no validada.\n- No interpretes ejemplos del prompt como datos reales de stock.\n- No repitas presentaciones, mensajes internos ni derivaciones en la misma conversación.\n- No solicites datos sensibles del lead más allá de lo necesario para el proceso.\n- No uses automáticamente el nombre visible de redes sociales. Solo si parece un nombre real.\n- No hagas preguntas adicionales después de anunciar una derivación a humano.\n- No adelantes etapas del ciclo de vida que el lead aún no ha alcanzado."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4384,
        784
      ],
      "id": "c2f63919-47ed-45b7-ab0a-b28de41f8443",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        3920,
        1040
      ],
      "id": "63be9ae5-f3e6-411a-b8ab-42ec81716cf0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "egUJWMnlMd1H3Yl1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        6464,
        960
      ],
      "id": "6efefd79-560a-4ae1-897a-490ad53c9ca9",
      "name": "Auto-fixing Output Parser1"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        6496,
        1184
      ],
      "id": "486a405f-1acd-4640-a06b-c26922bd1aca",
      "name": "OpenAI Chat Model8",
      "credentials": {
        "openAiApi": {
          "id": "egUJWMnlMd1H3Yl1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"response\": {\n    \"parte_uno\": \"Texto correspondiente a la primera parte de la respuesta.\",\n    \"parte_dos\": \"Texto correspondiente a la segunda parte de la respuesta.\",\n    \"parte_tres\": \"Texto correspondiente a la tercera parte de la respuesta (opcional).\",\n    \"parte_cuatro\": \"Texto correspondiente a la cuarta parte de la respuesta (opcional).\",\n    \"imagen_uno\": \"Imagen correspondiente\",\n    \"imagen_dos\": \"Imagen correspondiente (opcional).\",\n    \"video_mp4\": \"Video .mp4 (opcional)\"\n}\n  }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        6656,
        1168
      ],
      "id": "4d7a6698-1ad1-425a-88fb-6ba635cc0f66",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        6112,
        1168
      ],
      "id": "16ff7172-e84b-41b7-b1fe-4bc8e95ed9cc",
      "name": "OpenAI Chat Model9",
      "credentials": {
        "openAiApi": {
          "id": "egUJWMnlMd1H3Yl1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Obtener el texto de entrada:\n\nRecupera el texto de la variable items\n{{ $json.output }}\nLimpieza y normalización del texto:\n\nCrea una función que limpie el texto eliminando los siguientes caracteres: ¿, ¡, @, \", *, #.\n\nElimina los espacios en blanco al inicio y al final del texto.\nNo Elimines los emojis, ni los markdown para que los mensajes esten limpios.\nDivisión del texto en partes:\n\nImplementa una función que divida el texto limpio en fragmentos de máximo 800 caracteres sin cortar palabras. Si necesitas cortar uno de los fragementos del mensaje antes de 800 Caracteres para que no se corten mensajes hazlo. Los mensajes deben quedar completo y coherentes\nLa función debe asegurarse de que cada fragmento se corte en espacios para no dividir palabras a la mitad.\nSi tienes que aumentar la cantidad de caracteres para que parte del mensaje no quede cortado o quede mal puedes hacerlo sin un limite de caracteres. Esto para que los mensajes sean mas organicos y funcionen bien. Tambien al identificar una imagen necesito que el link lo separes para que se mande separado.\n\n*SIEMPRE* que haya un Link del video de youtube del tratamiento o presentación, mandalo como parte del texto con su contexto, *NUNCA* lo pongas en la parte de imagen uno y dos.\n\n*NUNCA* pongas el link del video.mp4 en las partes de texto e imagen, *SIEMPRE* si es que tienes algun video con .mp4 ponlo en video_mp4.\n\nDeberás de enviarlo siempre a la última parte pero solo eso.\nConstrucción de la respuesta:\n\nCrea un objeto JSON con la siguiente estructura:\n\n{\n  \"response\": {\n    \"parte_uno\": \"<primer fragmento>\",\n    \"parte_dos\": \"<segundo fragmento>\",\n    \"parte_tres\": \"<tercer fragmento>\",\n    \"parte_cuatro\": \"<cuarto fragmento>\",\n    \"imagen_uno\": \"<primera imagen>\",\n    \"imagen_dos\": \"<segunda imagen>\",\n    \"video_mp4\": \"<video.mp4>\"\n\n  }\n\n- Si hay un emoji como un check o algo por el estilo que desmuestre un enlistado, opciones o variantes similares, dale salto de linea para que parezca natural, recuerda reemplazar el \"\\n\" por un enter.\n\nSi alguna parte no existe, asigna una cadena vacía (\"\").\n\n\n### Notas \n\n- Nunca debes hacer saltos de linea que no sean naturales evita si en algun momento un mensaje tiene un \":\" que el mensaje que le siga este en la otra parte del mensaje. debe ser lo mas natural posible.\n\n- Sí el texto tiene un saludo de bienvenida o algo parecido, *SIEMPRE* separalo en una parte y las siguientes partes separalos de tal forma que se vea ordenada y estructuradas tus respuestas.\n- En caso veas una palabra en asteriscos, ejemplo: **Botox:** deberás de quitarle los dos de los extremos y deberá de quedar así *Botox:*.\n- *NUNCA* deberás de cortar el contexto del mensaje, quiero decir que si ves que el mensaje trata de un tema en específico o seccion no deberás de cortarlo.\n\nEs Obligatorio reemplazarlo, no eliminarlo. NUNCA DEJAR NINGUNA PARTE VACÍA OBLIGATORIAMENTE.\n\n- *SIEMPRE* REEMPLAZA \"\\n\" por un salto de linea normal (enter) ejemplo:\n{\n  \"response\": {\n    - opcion 1\n    - opcion 2\n    - opcion 3\n  }\n}\n\n- *SIEMPRE* y cuando te lleguen dos links de Video.mp4, agarra el primero y no pongas los 2 juntos, si es posible, elimina uno para que solo quede uno. Tambien verificar bien los links de imagenes, nunca se te puede pasar alguno.\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        6096,
        848
      ],
      "id": "8b7c711f-921a-4e4f-b12b-a90302dcd895",
      "name": "Verificador1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "AGENTE BASE",
        "height": 860,
        "width": 1680,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2400,
        528
      ],
      "typeVersion": 1,
      "id": "accbaf16-d06f-48fa-aa8d-d8ffdd9917ec",
      "name": "Sticky Note5",
      "disabled": true
    },
    {
      "parameters": {
        "content": "LIMPIAR SALIDA OUTPUT / MENSAJES TROZADOS",
        "height": 1180,
        "width": 3240,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5072,
        608
      ],
      "typeVersion": 1,
      "id": "88d23d75-3a66-469e-a4e8-2b37fe3f019c",
      "name": "Sticky Note8",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2e8b532f-1f01-45f9-a647-e7a5c9e48aac",
                    "leftValue": "={{ $('Webhook').item.json.body.conversation.messages[0].attachments[0].file_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ab2cd9af-1c78-4112-a17f-97ce597abd22",
                    "leftValue": "={{ $('Webhook').item.json.body.conversation.messages[0].content_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "27bcc104-31e3-4687-b60b-a018c457a3a9",
                    "leftValue": "={{ $('Webhook').item.json.body.conversation.messages[0].content_type }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1504,
        960
      ],
      "id": "80e646cc-e7a1-4a3b-981f-69556acb3265",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -848,
        1040
      ],
      "id": "0d52be7c-9552-46af-b951-3e5bf428fa77",
      "name": "AUDIO",
      "credentials": {
        "openAiApi": {
          "id": "egUJWMnlMd1H3Yl1",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Describe esta imagen\n",
        "imageUrls": "={{ $('Webhook').item.json.body.conversation.messages[0].attachments[0].data_url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -928,
        1264
      ],
      "id": "3b492795-f390-4ec0-b872-a74625f134e9",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "egUJWMnlMd1H3Yl1",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0a1b2f0-373e-4b86-ae91-25346b20b404",
              "name": "mensajetexto",
              "value": "=Texto mensaje: [{{ $('Webhook').item.json.body.conversation.messages[0].processed_message_content }}]\t",
              "type": "string"
            },
            {
              "id": "35cd9184-e37e-4d03-9dff-efb319dce478",
              "name": "mensajeaudio",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "47e9bfe8-2c55-4b5d-b047-024871fc6c21",
              "name": "mensajeimagen",
              "value": "={{ $json.content }}{{ $json.imagen_caption }}",
              "type": "string"
            },
            {
              "id": "b3ac1879-604c-490a-926f-822430671b8f",
              "name": "Contact_ID",
              "value": "={{ $('Webhook').item.json.body.conversation.contact_inbox.contact_id }}",
              "type": "string"
            },
            {
              "id": "652a48b9-ccdf-4479-b6dc-3eb1c509abd7",
              "name": "Conversation_ID",
              "value": "={{ $('Webhook').item.json.body.conversation.messages[0].conversation_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        960
      ],
      "id": "1d3f38c4-bdce-4036-b15a-2bba497f314d",
      "name": "Edit Fields17",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -352,
        1536
      ],
      "id": "18a6a2eb-721c-4731-b16c-bbb2aa214552",
      "name": "Wait6",
      "webhookId": "5220edf6-9807-48e2-929e-7ee4fc961939"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a313a41-eadc-4ada-bc2a-feff79845de9",
              "leftValue": "={{ $json.mensajes.last() }}",
              "rightValue": "={{ $('Handler variables').item.json.data.text }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        1536
      ],
      "id": "87d996bc-f89b-4be4-852c-60eacf37f03b",
      "name": "If6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        400,
        1552
      ],
      "id": "034e35bd-4bdc-4e93-81c0-fb41a90495cd",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.data.remoteJid }}",
        "messageData": "={{ $json.data.text }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -560,
        1536
      ],
      "id": "a6605d0c-78fb-4493-8b14-38a822753a79",
      "name": "Push Redis",
      "credentials": {
        "redis": {
          "id": "N0mkRmblyV6vzUcL",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensajes",
        "key": "={{ $json.data.remoteJid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -160,
        1536
      ],
      "id": "5f0a4570-bfb1-419c-8b6e-8ba977b2efd1",
      "name": "Get Redis",
      "credentials": {
        "redis": {
          "id": "N0mkRmblyV6vzUcL",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        400,
        1392
      ],
      "id": "188d6d65-6dbd-4212-bfdb-808e0f022ed8",
      "name": "Delete Redis",
      "executeOnce": false,
      "credentials": {
        "redis": {
          "id": "N0mkRmblyV6vzUcL",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5f82380-4858-4361-908e-98e45c98f092",
              "name": "response",
              "value": "={{ $('Get Redis').item.json.mensajes.join() }}",
              "type": "string"
            },
            {
              "id": "ad4d9354-f95c-4a9f-befe-ce39975dd2d1",
              "name": "id",
              "value": "={{ $('Wait6').item.json.data.remoteJid }}",
              "type": "string"
            },
            {
              "id": "4a3efba4-ba7d-414f-806f-eb6fba7bdf66",
              "name": "nombre",
              "value": "={{ $('Webhook').item.json.body.conversation.messages[0].sender.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        1424
      ],
      "id": "df96fe1c-eeed-4029-addb-0b14c81827e7",
      "name": "Edit Fields19"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "DDDD tt",
        "options": {
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -112,
        960
      ],
      "id": "7971935b-47df-4290-a1c4-1025a1d5cfee",
      "name": "Formatea fecha"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d78c89a3-c878-48b7-aa84-4b2674c0667b",
              "name": "data.remoteJid",
              "value": "={{ $('Webhook').item.json.body.conversation.meta.sender.identifier }}\n",
              "type": "string"
            },
            {
              "id": "432a9602-e38b-4880-a64d-b832d120edda",
              "name": "data.id",
              "value": "={{ $('Webhook').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "c44feb87-a914-4da5-9e54-6285499e9fe0",
              "name": "data.messageType",
              "value": "={{ $('Webhook').item.json.body.content_type }}",
              "type": "string"
            },
            {
              "id": "d2f45efc-03ac-4c74-b70e-959b06cd2a0b",
              "name": "data.text",
              "value": "={{ $('Edit Fields17').item.json.mensajetexto }}{{ $('Edit Fields17').item.json.mensajeaudio }}{{ $('Edit Fields17').item.json.mensajeimagen }}",
              "type": "string"
            },
            {
              "id": "607319d2-5c94-4154-aa46-01f2a1586348",
              "name": "data.source",
              "value": "={{ $('Webhook').item.json.body.data.source }}",
              "type": "string"
            },
            {
              "id": "c412d707-b3aa-469f-8d2d-24566a4d202c",
              "name": "evo.server_url",
              "value": "={{ $('Webhook').item.json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "995f464d-5736-4498-ba31-d8d97ce5d49c",
              "name": "evo.instance",
              "value": "={{ $('Webhook').item.json.body.instance }}",
              "type": "string"
            },
            {
              "id": "666afdd3-f561-4015-9fef-503ea7a8d77f",
              "name": "evo.apikey",
              "value": "={{ $('Webhook').item.json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "c8eace33-882a-4835-bc22-12a4e29718d0",
              "name": "data.sender",
              "value": "={{ $('Webhook').item.json.body.sender }}",
              "type": "string"
            },
            {
              "id": "3394812f-bd4a-4440-8252-f07a5401629c",
              "name": "data.fecha",
              "value": "={{ $json.formattedDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        960
      ],
      "id": "cb3994e6-e3bb-4dc0-a5a5-622ee6b56f22",
      "name": "Handler variables"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -288,
        960
      ],
      "id": "a6b13e46-2fd7-4950-84d5-1dabc62f36df",
      "name": "Fecha"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7296,
        720
      ],
      "id": "062dc29b-e6ad-430f-88d2-2241697d9960",
      "name": "Wait",
      "webhookId": "b8386f99-cbe4-4c2a-9a08-94f9413b17e6"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7088,
        1168
      ],
      "id": "e85ec3af-ca03-41b4-bb54-8f1b240edc41",
      "name": "Wait1",
      "webhookId": "3f5ce162-cd4b-4366-86a4-3b31ff6aabbf"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "15d77253-3dd0-4a95-a24a-1d668dc50f50",
              "leftValue": "={{ $('Verificador1').item.json.output.response.parte_tres }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7328,
        928
      ],
      "id": "ef9ce889-e96c-40a5-8274-8e98572d46cd",
      "name": "If parte 3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "487d4f2b-6fcf-4fa6-8f43-bfc4e0f8c970",
              "leftValue": "={{ $('Verificador1').item.json.output.response.parte_dos }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7472,
        720
      ],
      "id": "c533689e-6324-40b4-8ba4-c07e19b7a7cc",
      "name": "If2 parte 2"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "patragonia",
        "remoteJid": "={{ $('Code3').item.json.formattedNumber }}",
        "messageText": "={{ $('Verificador1').item.json.output.response.parte_tres }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        7264,
        1168
      ],
      "id": "b2f810de-b039-4db7-872d-725dd220d857",
      "name": "Enviar parte  3",
      "credentials": {
        "evolutionApi": {
          "id": "vlw4gh2PISJFhWIC",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        9168,
        944
      ],
      "id": "30306ffa-2b14-4e17-a3c3-2e614f624fba",
      "name": "No Operation, do nothing",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "15d77253-3dd0-4a95-a24a-1d668dc50f50",
              "leftValue": "={{ $('Verificador1').item.json.output.response.parte_cuatro }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7536,
        1168
      ],
      "id": "2ce35e53-f12e-4ca4-8223-89fc59e7fde0",
      "name": "If parte "
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}",
        "tableName": "Test",
        "contextWindowLength": 12
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4128,
        1072
      ],
      "id": "77fe5bd9-84cf-4fe5-8525-524cd1547d02",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "mZSmgwVpawgZ2rfp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "Registrar_cliente",
        "description": "=Llama a esta herramiento cuando tengas nombre, dni, apellidos, tratamiento de interés y correo.\n\nEnviale a esta herramienta siempre el numero: {{ $('Delete Redis').item.json.id }}",
        "workflowId": {
          "__rl": true,
          "value": "GP7t3MrgbilWaiZm",
          "mode": "list",
          "cachedResultName": "My Sub-Workflow 1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "DNI": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('DNI', ``, 'string') }}",
            "NOMBRE": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NOMBRE', ``, 'string') }}",
            "CORREO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CORREO', ``, 'string') }}",
            "TRATAMIENTO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TRATAMIENTO', ``, 'string') }}",
            "APELLIDO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('APELLIDO', ``, 'string') }}",
            "Numero": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Numero', ``, 'string') }}",
            "ID": "={{ $('Delete Redis').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DNI",
              "displayName": "DNI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "APELLIDO",
              "displayName": "APELLIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "CORREO",
              "displayName": "CORREO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "TRATAMIENTO",
              "displayName": "TRATAMIENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Numero",
              "displayName": "Numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        4112,
        1376
      ],
      "id": "dbe2a933-cf17-4ad1-8438-e7ebb7a917a2",
      "name": "Registrar cliente"
    },
    {
      "parameters": {
        "content": "Transcripción de mensajes",
        "height": 920,
        "width": 2240,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3600,
        688
      ],
      "typeVersion": 1,
      "id": "e8c15917-0279-4954-a5a4-d695bf31520c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "name": "Disponibilidad",
        "description": "Esta tool es para ver disponibilidad",
        "workflowId": {
          "__rl": true,
          "value": "I3SFSSS0TwvLP6N9",
          "mode": "list",
          "cachedResultName": "Disponibilidad PRUEBA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "timewin"
          ],
          "schema": [
            {
              "id": "inicio_cita",
              "displayName": "inicio_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fin_cita",
              "displayName": "fin_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        3968,
        1408
      ],
      "id": "dacc07b3-7047-4684-8c4e-9233782881f4",
      "name": "Disponibilidad"
    },
    {
      "parameters": {
        "content": "T\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nTranscribir Audios y Analizar imagenes.\n",
        "height": 480,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        1056
      ],
      "typeVersion": 1,
      "id": "607b38dc-7bf2-4019-99a7-cf6064b55b69",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0fe648aa-47e0-4deb-8d7c-efaa5a2d023b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2864,
        2336
      ],
      "id": "8d456816-97ab-4562-81b8-baa77924a8ad",
      "name": "Webhook1",
      "webhookId": "0fe648aa-47e0-4deb-8d7c-efaa5a2d023b",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6378e88d-78d8-4cc2-b3ce-a7386c1119fb",
              "leftValue": "={{ $json.body.labels[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2576,
        2336
      ],
      "id": "8ed68e75-9b4e-4ee2-a14d-cfd8b4721b8c",
      "name": "If1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5145bc96-bb0d-46a3-97d4-f10d8f0bcc01",
              "name": "numero",
              "value": "={{ $('Webhook1').item.json.body.meta.sender.identifier }}",
              "type": "string"
            },
            {
              "id": "4a7412cc-f1f1-4cf5-b5b4-34ffa9f1168a",
              "name": "pasar_supervisor",
              "value": "=si",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1888,
        2544
      ],
      "id": "057e97b5-507b-481a-a3c3-c59e5e4d85ef",
      "name": "Edit Fields2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pZMVq5gOPbXWxaUxcnbY-anLwhOhiO6dV0UOzG8IEyQ",
          "mode": "list",
          "cachedResultName": "numeros_pasarsupervisor_cliniesthetic",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZMVq5gOPbXWxaUxcnbY-anLwhOhiO6dV0UOzG8IEyQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JXTNmCfXeGZL1zVnfEKNfHGip9gcX2mVWITjKHCM1iQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "número": "={{ $json.numero }}",
            "pasar_supervisor": "={{ $json.pasar_supervisor }}",
            "numero de veces": "1"
          },
          "matchingColumns": [
            "número"
          ],
          "schema": [
            {
              "id": "número",
              "displayName": "número",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pasar_supervisor",
              "displayName": "pasar_supervisor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "numero de veces",
              "displayName": "numero de veces",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1744,
        2544
      ],
      "id": "113ad647-238b-47cf-b664-8f8d05f2adc8",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2320,
        2112
      ],
      "id": "182eea63-6dd5-4656-8691-d63affcfdbbc",
      "name": "No Operation, do nothing2",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1600,
        2544
      ],
      "id": "66db7879-b7d0-44f9-8fc0-164b7b010e98",
      "name": "No Operation, do nothing3",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8fa70db3-09c3-4e87-8fc9-4052751fad3f",
              "leftValue": "={{ $json.pasar_supervisor }}",
              "rightValue": "no",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2272,
        800
      ],
      "id": "a2bf7cb9-ac98-4624-b5fb-82e7ef536e1a",
      "name": "If2",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "576350e5-ed67-4ce9-815e-0f0a0ef0b1c7",
              "leftValue": "={{ $('Webhook').item.json.body.conversation.labels[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2032,
        1136
      ],
      "id": "106a163a-871a-4ef2-adb7-aeb273f2dfd4",
      "name": "If3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1aa91b6d-c441-4496-beee-4af2457332ac",
              "name": "pasar_supervisor",
              "value": "={{ $json.pasar_supervisor }}",
              "type": "string"
            },
            {
              "id": "34e35c66-589c-4146-ab9c-3d08b024a7c1",
              "name": "número",
              "value": "={{ $('Webhook').item.json.body.conversation.meta.sender.identifier }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2480,
        960
      ],
      "id": "a151dff9-d7c3-429f-9588-127fe699b9ae",
      "name": "Edit Fields4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1632,
        1600
      ],
      "id": "1f8c654a-28ea-43c7-8dc0-8426531a5afa",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {
        "content": "## Webhook con Chatwoot.\n\n- Si se agrega a supervisor, se le coloca al número con una etiqueta en el google sheets de pasado a supervisor.\n",
        "height": 780,
        "width": 1620
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2816,
        2016
      ],
      "typeVersion": 1,
      "id": "e8eeb201-8918-48ac-8f0c-1efb26b6a4f4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Filtro de MENSAJES.\nFiltramos si el número del mensaje esta ya con un supervisor o no.",
        "height": 720,
        "width": 1240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3728,
        752
      ],
      "typeVersion": 1,
      "id": "3e2b9928-89c6-40ac-ace5-d0f165d3aba3",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pZMVq5gOPbXWxaUxcnbY-anLwhOhiO6dV0UOzG8IEyQ",
          "mode": "list",
          "cachedResultName": "numeros_pasarsupervisor_cliniesthetic",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pZMVq5gOPbXWxaUxcnbY-anLwhOhiO6dV0UOzG8IEyQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JXTNmCfXeGZL1zVnfEKNfHGip9gcX2mVWITjKHCM1iQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "número",
              "lookupValue": "={{ $('Webhook1').item.json.body.meta.sender.identifier }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2368,
        2528
      ],
      "id": "2aa93a47-0be2-40b6-a1b6-6c468081891d",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a4b74b5-4ee5-479c-85ac-da9312e18dbe",
              "leftValue": "={{ $json['numero de veces'] }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2144,
        2528
      ],
      "id": "6701c81b-0de2-416e-8b2f-098767911431",
      "name": "If5",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1952,
        2336
      ],
      "id": "6429a406-998b-4a59-9541-d9d034aef8ad",
      "name": "No Operation, do nothing5",
      "disabled": true
    },
    {
      "parameters": {
        "description": "=Usa la tool \"Think\" para pensar sobre el OUTPUT. No obtendrás nueva información ni alterara la base de conocimiento, pero agrega el pensamiento al registro. \nGenerar una respuesta empática, centrada en las necesidades estéticas del paciente, buscando comprender su situación corporal para recomendar el tratamiento más adecuado, sin enfocarse directamente en el agendamiento.\nAsegurate que siempre que cuando el cliente quiere un video o una imagen de u ntratamiento debe usar la tool \"Informacion1\""
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        4672,
        1376
      ],
      "id": "576e719a-352d-4085-94fe-1bd2da4862dd",
      "name": "Think"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "df49cf6a-69ca-4d05-810d-b5eb47928f1b",
              "leftValue": "={{ $('Edit Fields1').item.json.pasa_supervisor }}",
              "rightValue": "necesita un supervisor",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3968,
        464
      ],
      "id": "adae5ad7-1984-4a5d-bb32-f2cdd3b08a1d",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4368,
        480
      ],
      "id": "1a3557ed-cf11-4590-8f65-2e5477e98068",
      "name": "No Operation, do nothing6",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://apchatwoot.aipartnerstudio.site/api/v1/accounts/1/conversations/{{ $json.chatwoot_id }}/assignments ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "assignee_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4192,
        480
      ],
      "id": "8b560dc1-90da-4b28-81a8-e38996bedaec",
      "name": "Pasar supervisor",
      "disabled": true
    },
    {
      "parameters": {
        "content": "CRM\n",
        "height": 480,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3568,
        1616
      ],
      "typeVersion": 1,
      "id": "4a58c04d-52be-47f8-ae39-9e7d442627e2",
      "name": "Sticky Note9",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=El ID es: {{ $('Edit Fields19').item.json.id }}\nEl nombre del paciente es: {{ $('Edit Fields19').item.json.nombre }}\nEl DNI del paciente es: {{ $('If8').item.json.DNI }}\nEl mensaje del paciente es: {{ $('Resumidor').item.json.text }}\nLa intención del paciente es: {{ $('Intención').item.json.text }}\nEl tratamiento de Interes es: {{ $('Tratamiento de interes').item.json.text }}",
        "options": {
          "systemMessage": "=Eres Farid, el mejor ingresando datos a un CRM para la clinica \"Estetica Dental Marina Eguren\", con mas de 10 años de experiencia en este puesto.\nTu misión es garantizar que todos los mensajes esten registrados en la base de datos en la tool \"CRM\", recibirás un bono de $3000.00 por tu excelente desempeño; caso contrario, la clínica cerrará.\n\n#Pasos a seguir\n1. Debes usar la tool \"Think1\" para analizar toda la información que te llegue\n2. Debes registrar los datos usando la tool \"CRM\", debes completar TODOS los campos detallados en la tool.\n\n#Nota\n- No debes registrar los mensajes donde el paciente UNICAMENTE salude\n- Para completar la columna \"Respuesta de la IA\" debes utilizar el output de \"AI Agent\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        3856,
        1728
      ],
      "id": "abb55062-928b-4fb9-8d78-0adedd260010",
      "name": "CRM Agent",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3760,
        1904
      ],
      "id": "df224712-9c56-4dd8-be49-7f74e0b8cd71",
      "name": "OpenAI Chat Model10",
      "credentials": {
        "openAiApi": {
          "id": "egUJWMnlMd1H3Yl1",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        4192,
        1904
      ],
      "id": "43536d6e-dcb8-475c-9eb6-b7eafe443762",
      "name": "Think1",
      "disabled": true
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2928,
        1664
      ],
      "id": "a60ae5ca-08d4-45c1-b8c9-7481bcf7f5aa",
      "name": "Merge1",
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3440,
        1728
      ],
      "id": "cef7f4c5-a372-4c77-b1da-53ccb1f049f8",
      "name": "Aggregate1",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pet02nj0uuessk1",
        "table": "mhubdy00lw6jx15",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "ID",
              "fieldValue": "={{ $('Delete Redis').item.json.id }}"
            },
            {
              "fieldName": "Nombre",
              "fieldValue": "={{ $('Delete Redis').item.json.nombre }}"
            },
            {
              "fieldName": "DNI",
              "fieldValue": "={{ $('If8').item.json.DNI }}"
            },
            {
              "fieldName": "Intención",
              "fieldValue": "={{ $('Edit Fields9').item.json.intencion }}"
            },
            {
              "fieldName": "Mensaje del cliente",
              "fieldValue": "={{ $('Edit Fields8').item.json.resumen }}"
            },
            {
              "fieldName": "Respuesta de la IA",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Field_Value', ``, 'string') }}"
            },
            {
              "fieldName": "Tratamiento de Interes",
              "fieldValue": "={{ $('Edit Fields10').item.json.interes_tratamiento }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDbTool",
      "typeVersion": 3,
      "position": [
        4032,
        1968
      ],
      "id": "42dc4c3d-462d-4ee4-9bbd-13a06fd2330e",
      "name": "CRM",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4368,
        1728
      ],
      "id": "69f705b6-65db-4d5b-a779-952b28818fcb",
      "name": "No Operation, do nothing7",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "patragonia",
        "remoteJid": "={{ $('Code3').item.json.formattedNumber }}",
        "messageText": "={{ $json.output.response.parte_uno }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        6800,
        720
      ],
      "id": "162a1ac8-2e24-4d64-95d0-1440b8cd90c0",
      "name": "ENVIAR PARTE 1 TEXT",
      "credentials": {
        "evolutionApi": {
          "id": "vlw4gh2PISJFhWIC",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "options_Create_instance": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        8048,
        528
      ],
      "id": "33189904-9dac-427e-a30b-9034602683af",
      "name": "ENVIAR IMAGEN",
      "credentials": {
        "evolutionApi": {
          "id": "vlw4gh2PISJFhWIC",
          "name": "Evolution account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "patragonia",
        "remoteJid": "={{ $('Code3').item.json.formattedNumber }}",
        "messageText": "={{ $('Verificador1').item.json.output.response.parte_dos }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        6944,
        928
      ],
      "id": "5cfca9d9-652e-4ef8-b6dd-2db8c78b3954",
      "name": "Enviar parte  4",
      "credentials": {
        "evolutionApi": {
          "id": "vlw4gh2PISJFhWIC",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7072,
        1456
      ],
      "id": "98db886c-dfb5-4aa2-b8e2-13ff325fb84d",
      "name": "Wait3",
      "webhookId": "44a86542-7b51-4685-8c6d-0df4868d9ea0"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c32bc570-bb58-40bb-a224-c5fc1c0ef505",
              "leftValue": "={{ $('Verificador1').item.json.output.response.imagen_uno }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7488,
        1648
      ],
      "id": "d67a12bc-8b75-47d6-91ef-6a935e16d760",
      "name": "If7",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c218b620-843f-42f5-9801-27526f01d567",
              "leftValue": "={{ $('Verificador1').item.json.output.response.imagen_uno }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7728,
        1632
      ],
      "id": "9aae70ee-6b12-4b27-a6c6-1ab81e502e77",
      "name": "If9",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d16617a-c9ff-41d4-95da-c717e72ceb13",
              "leftValue": "={{ $('Verificador1').item.json.output.response.imagen_uno }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7648,
        1488
      ],
      "id": "a180736a-fd09-4cd4-b4c7-82276489fe97",
      "name": "If10",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "28d294a1-c63e-4b09-bbe1-3069317c797e",
              "leftValue": "={{ $('Verificador1').item.json.output.response.imagen_uno }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7840,
        1392
      ],
      "id": "b480184d-4ddb-4bdd-8ad9-e985ae93d926",
      "name": "If11",
      "disabled": true
    },
    {
      "parameters": {
        "options_Create_instance": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        7920,
        736
      ],
      "id": "b1bc8759-dd32-47b6-afb8-a3c9c9410f8e",
      "name": "ENVIAR IMAGEN2",
      "credentials": {
        "evolutionApi": {
          "id": "vlw4gh2PISJFhWIC",
          "name": "Evolution account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options_Create_instance": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        8080,
        1072
      ],
      "id": "9fa8b625-982f-44e2-b8bd-fad1d2d0abf7",
      "name": "ENVIAR IMAGEN3",
      "credentials": {
        "evolutionApi": {
          "id": "vlw4gh2PISJFhWIC",
          "name": "Evolution account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options_Create_instance": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        8208,
        1328
      ],
      "id": "a5fe49f8-d6ef-4cbe-88d1-ff11d33138fc",
      "name": "ENVIAR IMAGEN4",
      "credentials": {
        "evolutionApi": {
          "id": "vlw4gh2PISJFhWIC",
          "name": "Evolution account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Verificador1').item.json.output.response.imagen_uno }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "97e38999-5e91-489b-ae83-95dc92aa9f91"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7ea491d5-3fe5-4c05-be8c-fffca89ceefa",
                    "leftValue": "={{ $('Verificador1').item.json.output.response.video_mp4 }}",
                    "rightValue": ".mp4",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        7920,
        496
      ],
      "id": "47f144f9-dce0-4091-9c98-70116635d141",
      "name": "Switch1",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Verificador1').item.json.output.response.imagen_uno }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "97e38999-5e91-489b-ae83-95dc92aa9f91"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7ea491d5-3fe5-4c05-be8c-fffca89ceefa",
                    "leftValue": "={{ $('Verificador1').item.json.output.response.video_mp4 }}",
                    "rightValue": ".mp4",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        8544,
        496
      ],
      "id": "44beee1b-099a-49da-a0b0-be7ee9def8b2",
      "name": "Switch2",
      "disabled": true
    },
    {
      "parameters": {
        "options_Create_instance": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        7888,
        688
      ],
      "id": "cd628098-0301-48a0-ab96-380fae858cfa",
      "name": "video",
      "credentials": {
        "evolutionApi": {
          "id": "vlw4gh2PISJFhWIC",
          "name": "Evolution account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options_Create_instance": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        8128,
        896
      ],
      "id": "34ea3405-1a59-4aa7-8092-5c5853934d9c",
      "name": "video1",
      "credentials": {
        "evolutionApi": {
          "id": "vlw4gh2PISJFhWIC",
          "name": "Evolution account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Verificador1').item.json.output.response.imagen_uno }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "97e38999-5e91-489b-ae83-95dc92aa9f91"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7ea491d5-3fe5-4c05-be8c-fffca89ceefa",
                    "leftValue": "={{ $('Verificador1').item.json.output.response.video_mp4 }}",
                    "rightValue": ".mp4",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        8000,
        1136
      ],
      "id": "5e2f3a3f-05d3-4190-8a53-bed6cb35c5f3",
      "name": "Switch3",
      "disabled": true
    },
    {
      "parameters": {
        "options_Create_instance": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        7952,
        1264
      ],
      "id": "a804631f-1f22-4684-9910-1151e6c14ed1",
      "name": "video2",
      "credentials": {
        "evolutionApi": {
          "id": "vlw4gh2PISJFhWIC",
          "name": "Evolution account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Verificador1').item.json.output.response.imagen_uno }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "97e38999-5e91-489b-ae83-95dc92aa9f91"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7ea491d5-3fe5-4c05-be8c-fffca89ceefa",
                    "leftValue": "={{ $('Verificador1').item.json.output.response.video_mp4 }}",
                    "rightValue": ".mp4",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        7520,
        1296
      ],
      "id": "06d593d7-49e5-441e-989a-7b504a0f5434",
      "name": "Switch4",
      "disabled": true
    },
    {
      "parameters": {
        "options_Create_instance": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        7360,
        1504
      ],
      "id": "c4dbe902-5b9c-4a22-bec4-2dbe8437459b",
      "name": "video3",
      "credentials": {
        "evolutionApi": {
          "id": "vlw4gh2PISJFhWIC",
          "name": "Evolution account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "patragonia",
        "remoteJid": "={{ $('Code3').item.json.formattedNumber }}",
        "messageText": "={{ $('Verificador1').item.json.output.response.parte_cuatro }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        7232,
        1456
      ],
      "id": "e5636541-4e1c-459e-ab3a-9e757de94e57",
      "name": "Enviar parte  ",
      "credentials": {
        "evolutionApi": {
          "id": "vlw4gh2PISJFhWIC",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "276cbb8a-79f2-4f08-b24a-632f474c6013",
              "leftValue": "={{ $('Webhook').item.json.body.data.message.imageMessage.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -944,
        1472
      ],
      "id": "3be2a04b-a3ba-4b61-af96-87fcaa81afb3",
      "name": "If12"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "437f223f-80c7-4c47-a50b-9d17a8614251",
              "name": "imagen_caption",
              "value": "={{ $json.content }} .\nEl captions del mensaje de imagen es: {{ $('Webhook').item.json.body.data.message.imageMessage.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        1712
      ],
      "id": "0299706e-7716-4052-9929-f5623850d724",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "98601c0c-949c-4f3d-99f2-40305665d58a",
              "leftValue": "={{ $('Webhook').item.json.body.conversation.meta.sender.identifier }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3200,
        1056
      ],
      "id": "7d022b99-4105-402a-aee7-f3e7961dd65e",
      "name": "If13"
    },
    {
      "parameters": {
        "content": "Registro ultimo mensaje",
        "height": 460,
        "width": 500,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4176,
        880
      ],
      "typeVersion": 1,
      "id": "2376f894-38db-4718-9112-a6a167389388",
      "name": "Sticky Note7",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  try {\n    // Buscar automáticamente cualquier campo que parezca contener una fecha\n    const dateKeys = Object.keys(item.json).filter(key => {\n      const value = String(item.json[key]).trim();\n      return /\\d{4}[-/]\\d{2}[-/]\\d{2}/.test(value) || \n             /(?:Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday)/i.test(value);\n    });\n    \n    if (dateKeys.length === 0) {\n      throw new Error(\"No se encontró campo con fecha\");\n    }\n    \n    // Tomar el primer campo de fecha encontrado\n    const raw = String(item.json[dateKeys[0]]).trim();\n    \n    let año, mes, dia, hora;\n    \n    // Patrón 1: \"2025-06-2019:44:37\"\n    const match1 = raw.match(/(\\d{4})-(\\d{2})-(\\d{2})(\\d{1,2})/);\n    // Patrón 2: \"Friday, June 20, 2025 7:44:37 PM\"\n    const match2 = raw.match(/(?:Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday),\\s+(\\w+)\\s+(\\d{1,2}),\\s+(\\d{4})\\s+(\\d{1,2})/i);\n    \n    if (match1) {\n      año = parseInt(match1[1], 10);\n      mes = parseInt(match1[2], 10);\n      dia = parseInt(match1[3], 10);\n      hora = parseInt(match1[4], 10);\n    } \n    else if (match2) {\n      const monthNames = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \n                         \"July\", \"August\", \"September\", \"October\", \"November\", \"December\"];\n      const monthName = match2[1];\n      const monthIndex = monthNames.findIndex(m => m.toLowerCase() === monthName.toLowerCase());\n      \n      if (monthIndex === -1) throw new Error(\"Mes inválido\");\n      \n      año = parseInt(match2[3], 10);\n      mes = monthIndex + 1;\n      dia = parseInt(match2[2], 10);\n      \n      // Convertir hora 12h a 24h\n      let rawHora = parseInt(match2[4], 10);\n      const period = raw.toLowerCase().includes(\"pm\") ? \"pm\" : \"am\";\n      \n      if (period === \"pm\" && rawHora < 12) rawHora += 12;\n      if (period === \"am\" && rawHora === 12) rawHora = 0;\n      \n      hora = rawHora;\n    } \n    else {\n      throw new Error(\"Formato no reconocido\");\n    }\n    \n    // Validar valores básicos\n    if (isNaN(año) || año < 1000) throw new Error(\"Año inválido\");\n    if (isNaN(mes) || mes < 1 || mes > 12) throw new Error(\"Mes inválido\");\n    if (isNaN(dia) || dia < 1 || dia > 31) throw new Error(\"Día inválido\");\n    if (isNaN(hora) || hora < 0 || hora > 23) throw new Error(\"Hora inválida\");\n    \n    // Sumar 4 horas y manejar cambio de día/mes/año\n    let nuevaHora = hora + 4;\n    let nuevoDia = dia;\n    let nuevoMes = mes;\n    let nuevoAño = año;\n    \n    if (nuevaHora >= 24) {\n      nuevaHora -= 24;\n      nuevoDia++;\n      \n      // Manejar cambio de mes\n      const diasEnMes = new Date(nuevoAño, nuevoMes, 0).getDate();\n      if (nuevoDia > diasEnMes) {\n        nuevoDia = 1;\n        nuevoMes++;\n        \n        // Manejar cambio de año\n        if (nuevoMes > 12) {\n          nuevoMes = 1;\n          nuevoAño++;\n        }\n      }\n    }\n    \n    // Formatear componentes a 2 dígitos\n    const diaFormateado = String(nuevoDia).padStart(2, '0');\n    const mesFormateado = String(nuevoMes).padStart(2, '0');\n    const horaFormateada = String(nuevaHora).padStart(2, '0');\n    \n    // Crear el formato solicitado: día/mes/año_completo hora (24h) sin minutos ni segundos\n    const fechaFormateada = `${diaFormateado}/${mesFormateado}/${nuevoAño} ${horaFormateada}`;\n    \n    return {\n      json: {\n        ...item.json,\n        fecha_lora_formateada: fechaFormateada\n      }\n    };\n    \n  } catch (error) {\n    return {\n      json: {\n        ...item.json,\n        fecha_lora_formateada: `Error: ${error.message}`\n      }\n    };\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        960
      ],
      "id": "cecb8e19-060f-4fa0-9963-b395a70b4215",
      "name": "Code2"
    },
    {
      "parameters": {
        "name": "=Agendar",
        "description": "=Agendar citas ",
        "source": "=database",
        "workflowId": {
          "__rl": true,
          "value": "cEYvXwuudIyuvLcE",
          "mode": "list",
          "cachedResultName": "calendario  arroyo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Apellidos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Apellidos', ``, 'string') }}",
            "Nombre(s)": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_s_', ``, 'string') }}",
            "Tratamiento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tratamiento', ``, 'string') }}",
            "inicio_cita": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('inicio_cita', `Inicio de la cita agendada o que va a agendar. `, 'string') }}",
            "fin_cita": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fin_cita', `siempre es 15 minutos despues de inicio_cita`, 'string') }}",
            "Edad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Edad', ``, 'string') }}",
            "numerotelefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numerotelefono', ``, 'string') }}",
            "accion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('accion', ``, 'string') }}",
            "ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID', ``, 'string') }}",
            "hora1": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora1', `2 horas antes de inicio_cita`, 'string') }}",
            "hora2": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora2', `1 hora antes de inicio_cita`, 'string') }}",
            "hora3": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora3', `1 hora despues de inicio_cita`, 'string') }}",
            "hora4": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora4', `2 horas despues de inicio_cita`, 'string') }}",
            "inicio_cita_nueva": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('inicio_cita_nueva', `Nuevo inicio de cita propuesto para reagendar. Solo en caso de reagendamiento/cambio de cita. `, 'string') }}",
            "fin_cita_nueva": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fin_cita_nueva', `Nuevo fin de cita propuesto para reagendar. Duración siempre de 15 minutos.Solo en caso de reagendamiento/cambio de cita`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre(s)",
              "displayName": "Nombre(s)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Apellidos",
              "displayName": "Apellidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Edad",
              "displayName": "Edad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "inicio_cita",
              "displayName": "inicio_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fin_cita",
              "displayName": "fin_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Tratamiento",
              "displayName": "Tratamiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Formato",
              "displayName": "Formato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "numerotelefono",
              "displayName": "numerotelefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hora1",
              "displayName": "hora1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hora2",
              "displayName": "hora2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hora3",
              "displayName": "hora3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hora4",
              "displayName": "hora4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "inicio_cita_nueva",
              "displayName": "inicio_cita_nueva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fin_cita_nueva",
              "displayName": "fin_cita_nueva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        4320,
        1344
      ],
      "id": "c42f5760-f8e1-4bc2-a1f5-e1717f37e387",
      "name": "Calendario"
    },
    {
      "parameters": {
        "jsCode": "// Recupera todos los ítems de entrada\nconst items = $input.all();\n\n// Mapea cada ítem y formatea el número\nconst formatted = items.map(item => {\n  // 1. Toma la parte antes de \"@\"\n  const raw = item.json.id || '';\n  const digits = raw.split('@')[0];\n  \n  // 2. Extrae el código de país (primeros 2 dígitos) y el resto\n  const countryCode = digits.slice(0, 2);\n  const localNumber = digits.slice(2);\n  \n  // 3. Construye la cadena \"+51 123456789\"\n  const formattedNumber = `+${countryCode} ${localNumber}`;\n  \n  // 4. Guarda el resultado en una nueva propiedad (o sobreescribe `id`)\n  item.json.formattedNumber = formattedNumber;\n  // — si prefieres sobreescribir el id original:\n  // item.json.id = formattedNumber;\n  \n  return item;\n});\n\n// Devuelve los ítems modificados\nreturn formatted;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        1376
      ],
      "id": "e3950bec-99cd-456d-881c-dfd2d6e3a66e",
      "name": "Code3"
    },
    {
      "parameters": {
        "toolDescription": "Manda este HTTPREQUEST cuando se agende una cita",
        "method": "POST",
        "url": "https://acwhatsapp.alefcompany.online/message/sendText/Clinicaarroyo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Webhook').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=51908888797@s.whatsapp.net"
            },
            {
              "name": "text",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Notifica mandando la hora y fecha de la cita, procedimiento y el numero del paciente`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4448,
        1328
      ],
      "id": "ef33c933-0b1f-45ac-bd09-74cf743122a8",
      "name": "Notificar Cita"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WbHkgOHpYxCMx-H1585DVvhyiqFOztP57KzyfOQ92FY",
          "mode": "list",
          "cachedResultName": "Seguimiento - Patragonia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbHkgOHpYxCMx-H1585DVvhyiqFOztP57KzyfOQ92FY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbHkgOHpYxCMx-H1585DVvhyiqFOztP57KzyfOQ92FY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $('Webhook').item.json.body.messages[0].sender.phone_number }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensaje1",
              "displayName": "mensaje1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensaje2",
              "displayName": "mensaje2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3040,
        1232
      ],
      "id": "6300e036-e1fc-44a1-bb86-1fde608db227",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1i3yujna3CFEyGmWoYdQ1ztXHetrQ1ivJNQit7aCzG5E",
          "mode": "list",
          "cachedResultName": "Pasar supervisor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i3yujna3CFEyGmWoYdQ1ztXHetrQ1ivJNQit7aCzG5E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i3yujna3CFEyGmWoYdQ1ztXHetrQ1ivJNQit7aCzG5E/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "número",
              "lookupValue": "={{ $('Webhook').item.json.body.sender.identifier }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2672,
        960
      ],
      "id": "659b2b2c-0d4a-4cfc-b0b8-fb994f04dbe4",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1i3yujna3CFEyGmWoYdQ1ztXHetrQ1ivJNQit7aCzG5E",
          "mode": "list",
          "cachedResultName": "Pasar supervisor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i3yujna3CFEyGmWoYdQ1ztXHetrQ1ivJNQit7aCzG5E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i3yujna3CFEyGmWoYdQ1ztXHetrQ1ivJNQit7aCzG5E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "número": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
          },
          "matchingColumns": [
            "número"
          ],
          "schema": [
            {
              "id": "número",
              "displayName": "número",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pasar_supervisor",
              "displayName": "pasar_supervisor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "numero de veces",
              "displayName": "numero de veces",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2016,
        768
      ],
      "id": "eee81419-f9aa-4a65-a38c-56bf88289ed1",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1rpo4jqZiTjRY4zZHi89CRrJ0ppHfymz8vpMkYke9tT0",
          "mode": "list",
          "cachedResultName": "Seguimiento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rpo4jqZiTjRY4zZHi89CRrJ0ppHfymz8vpMkYke9tT0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $json.data.key.remoteJid }}",
            "mensaje": "={{ $json.data.message.conversation }}",
            "hora": "={{ $('Code2').item.json.fecha_lora_formateada }}"
          },
          "matchingColumns": [
            "numero"
          ],
          "schema": [
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        7072,
        720
      ],
      "id": "7856407d-acc8-4572-8aff-e5cbaf73641c",
      "name": "Update row in sheet",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc",
          "mode": "list",
          "cachedResultName": "seguimiento_clinicaarroyo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $json.data.key.remoteJid }}",
            "mensaje": "={{ $json.data.message.conversation }}",
            "hora": "={{ $('Code2').item.json.fecha_lora_formateada }}"
          },
          "matchingColumns": [
            "numero"
          ],
          "schema": [
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        8032,
        656
      ],
      "id": "386e5931-ef3e-4814-aae7-7661c9c5baca",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc",
          "mode": "list",
          "cachedResultName": "seguimiento_clinicaarroyo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $json.data.key.remoteJid }}",
            "mensaje": "={{ $json.data.message.conversation }}",
            "hora": "={{ $('Code2').item.json.fecha_lora_formateada }}"
          },
          "matchingColumns": [
            "numero"
          ],
          "schema": [
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        7888,
        816
      ],
      "id": "5b2750f0-e965-4933-9419-ea071f1630aa",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1rpo4jqZiTjRY4zZHi89CRrJ0ppHfymz8vpMkYke9tT0",
          "mode": "list",
          "cachedResultName": "Seguimiento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rpo4jqZiTjRY4zZHi89CRrJ0ppHfymz8vpMkYke9tT0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $json.data.key.remoteJid }}",
            "mensaje": "={{ $json.data.message.conversation }}",
            "hora": "={{ $('Code2').item.json.fecha_lora_formateada }}"
          },
          "matchingColumns": [
            "numero"
          ],
          "schema": [
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        7136,
        928
      ],
      "id": "97c927a0-bd6b-4c07-a760-4627a9730430",
      "name": "Update row in sheet3",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc",
          "mode": "list",
          "cachedResultName": "seguimiento_clinicaarroyo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $json.data.key.remoteJid }}",
            "mensaje": "={{ $json.data.message.conversation }}",
            "hora": "={{ $('Code2').item.json.fecha_lora_formateada }}"
          },
          "matchingColumns": [
            "numero"
          ],
          "schema": [
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensaje1",
              "displayName": "mensaje1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensaje2",
              "displayName": "mensaje2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        7808,
        928
      ],
      "id": "13f8932c-ee69-414f-addd-e5dfae9651f8",
      "name": "Update row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1rpo4jqZiTjRY4zZHi89CRrJ0ppHfymz8vpMkYke9tT0",
          "mode": "list",
          "cachedResultName": "Seguimiento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rpo4jqZiTjRY4zZHi89CRrJ0ppHfymz8vpMkYke9tT0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $json.data.key.remoteJid }}",
            "mensaje": "={{ $json.data.message.conversation }}",
            "hora": "={{ $('Code2').item.json.fecha_lora_formateada }}"
          },
          "matchingColumns": [
            "numero"
          ],
          "schema": [
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensaje1",
              "displayName": "mensaje1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensaje2",
              "displayName": "mensaje2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        7408,
        1168
      ],
      "id": "a4f75bee-d300-466d-9fdf-da034c071838",
      "name": "Update row in sheet5",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc",
          "mode": "list",
          "cachedResultName": "seguimiento_clinicaarroyo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $json.data.key.remoteJid }}",
            "mensaje": "={{ $json.data.message.conversation }}",
            "hora": "={{ $('Code2').item.json.fecha_lora_formateada }}"
          },
          "matchingColumns": [
            "numero"
          ],
          "schema": [
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        8000,
        1104
      ],
      "id": "39ea211b-f7b8-44d5-adf6-7916d2971edb",
      "name": "Update row in sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc",
          "mode": "list",
          "cachedResultName": "seguimiento_clinicaarroyo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $json.data.key.remoteJid }}",
            "mensaje": "={{ $json.data.message.videoMessage.url }}",
            "hora": "={{ $('Code2').item.json.fecha_lora_formateada }}"
          },
          "matchingColumns": [
            "numero"
          ],
          "schema": [
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        7968,
        1312
      ],
      "id": "6e688a57-8ce4-476f-9ee8-88da2df55580",
      "name": "Update row in sheet7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1rpo4jqZiTjRY4zZHi89CRrJ0ppHfymz8vpMkYke9tT0",
          "mode": "list",
          "cachedResultName": "Seguimiento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rpo4jqZiTjRY4zZHi89CRrJ0ppHfymz8vpMkYke9tT0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $json.data.key.remoteJid }}",
            "mensaje": "={{ $json.data.message.conversation }}",
            "hora": "={{ $('Code2').item.json.fecha_lora_formateada }}"
          },
          "matchingColumns": [
            "numero"
          ],
          "schema": [
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        7392,
        1456
      ],
      "id": "1b19f3a0-b86b-40bc-8726-2d4761398ec8",
      "name": "Update row in sheet8",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc",
          "mode": "list",
          "cachedResultName": "seguimiento_clinicaarroyo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $json.data.key.remoteJid }}",
            "mensaje": "={{ $json.data.message.conversation }}",
            "hora": "={{ $('Code2').item.json.fecha_lora_formateada }}"
          },
          "matchingColumns": [
            "numero"
          ],
          "schema": [
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        7712,
        1424
      ],
      "id": "4371ff47-b80f-43d7-9b54-705a0d396f3c",
      "name": "Update row in sheet9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc",
          "mode": "list",
          "cachedResultName": "seguimiento_clinicaarroyo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Wb64cv_mpv8t93e948QbOT4O4yz7TACUzzt-z8mYFc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $json.data.key.remoteJid }}",
            "mensaje": "={{ $json.data.message.videoMessage.url }}",
            "hora": "={{ $('Code2').item.json.fecha_lora_formateada }}"
          },
          "matchingColumns": [
            "numero"
          ],
          "schema": [
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        7728,
        1584
      ],
      "id": "bdbefc26-6dcb-4d18-81c3-83341cff9eb0",
      "name": "Update row in sheet10",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Vas a recibir este mensaje {{ $('Webhook').item.json.body.data.message.conversation }}",
        "options": {
          "systemMessage": "=# ROL\n\nEres Larisa, la mejor asistente virtual y encargada de recordatorios de citas en Clínica Arroyo.  \nTu misión es garantizar que cada paciente recuerde, confirme o pueda reagendar/cancelar su cita con atención profesional, cálida y personalizada.  \nNunca tutees. Siempre usa “su persona”, “Sr.” o “Sra.” + nombre.\n\n# OBJETIVO\n\n- Notificar al paciente sobre su cita próxima.\n- Motivar a confirmar asistencia.\n- Si no puede asistir, facilitar el reagendamiento solo dentro del horario permitido.\n\n# FLUJO DE RESPUESTA\n\nCASO 1: Confirmación de cita  \nCondición: El paciente responde que sí asistirá (“sí”, “confirmo”, “asistiré”, etc.).\n\nRespuesta:\n\"¡Gracias, Sr./Sra. [nombre]!  \nNos alegra mucho contar con su confirmación para la cita de [tratamiento].  \nSerá un placer atenderle en Clínica Arroyo y acompañarle en su proceso 💜.\"\n\n---\n\nCASO 2: Solicitud de reprogramación  \nCondición: El paciente indica que no podrá asistir y solicita cambio de fecha/hora.\n\nRespuesta:\n\"¡Gracias por avisar, Sr./Sra. [nombre]!  \nNo se preocupe, su bienestar es lo más importante para nosotros.  \nPor favor, indíquenos qué día y hora le acomodan y le ayudamos a reagendar su cita rápidamente 😊.\"\n\n---\n\n## *En este punto, sigue el flujo:*\n\n1. Espera que el paciente indique nueva fecha y hora.  \n   - Si falta alguno de los dos datos, vuelve a pedir ambos amablemente.\n   - Valida que la fecha/hora esté en horario permitido:\n     - Lunes a viernes: 10:00 a.m. a 6:30 p.m.\n     - Sábados: 10:00 a.m. a 1:00 p.m.\n     - No domingos.\n     - No días feriados (6 y 30 de agosto, 8 de octubre, 1, 8, 9 y 25 de diciembre).\n   - Si la fecha/hora no es válida, responde:\n     \"Sr./Sra. [nombre], la clínica atiende de lunes a viernes de 10:00 a.m. a 6:30 p.m. y sábados de 10:00 a.m. a 1:00 p.m.  \n     ¿Podría indicarnos una nueva fecha y hora dentro de ese horario?\"\n\n---\n\n2. Cuando recibas ambos datos y sean válidos, sigue este flujo:\n   a) Activa la tool “informacion”  \n      - Envía la variable: numero (“{{ $('Webhook').item.json.body.data.key.remoteJid }}”).  \n      - Guarda el valor idcalendar recibido.\n\n   b) Activa la tool “cita”  \n      - Envía idcalendar.\n      - Obtén datos de la cita original.\n\n   c) Activa la tool “calendario1” para reagendar  \n      - Envía:\n        - \"inicio_cita_nueva\": Fecha/hora nueva (formato ISO 8601).\n        - \"fin_cita_nueva\": 15 minutos después.\n        - Las demás variables: nombre, apellidos, tratamiento, numerotelefono, inicio_cita, fin_cita (originales).\n      - Nunca sobrescribas inicio_cita (mantén la cita original).\n\n---\n\n3. Responde según el resultado de la tool “calendario1”:\n   - Si la cita fue reagendada correctamente:\n     - En ese mismo momento, activa la tool “reagendar” usando los datos procesados y la variable numero (“{{ $('Webhook').item.json.body.data.key.remoteJid }}”).\n     - Responde al paciente:\n       \"Su cita ha sido reprogramada exitosamente 🗓️✨.  \n       Gracias por confiar en Clínica Arroyo. Estamos para ayudarle a resaltar su belleza natural 💖.\"\n       Si hay enlace de calendario:\n       \"Puede añadir la cita directamente a su calendario con este enlace 📅: [enlace]\"\n\n   - Si la hora está ocupada y se sugieren alternativas válidas:\n     - Muestra las opciones al paciente:\n       \"El horario que desea reagendar se encuentra ocupado. Sin embargo, hay disponibilidad en los siguientes horarios:  \n       🕒 Opción 1: [fecha y hora 1]  \n       🕒 Opción 2: [fecha y hora 2]  \n       ¿Cuál de estos horarios prefiere para reagendar la cita?\"\n     - Cuando el paciente elija una opción, repite el flujo desde el paso de reagendar hasta que la cita se reprograme correctamente y recién ahí activa la tool “reagendar”.\n\n---\n\n# REGLAS DE ESTILO Y COMUNICACIÓN\n\n- Máximo 2 emojis por mensaje.\n- No confirmes ni reagendes para días feriados ni domingos.\n- Sé breve, claro y cordial.\n- Refuerza el prestigio de Clínica Arroyo en cada respuesta.\n- No brindes información médica, solo gestiona reagendamiento.\n- Si preguntan por información médica:\n  \"En la consulta, la doctora resolverá todas sus inquietudes sobre el tratamiento.\"\n\n# INPUT ESPERADO PARA TOOL CALENDARIO1.\n\n{\n  \"Nombre(s)\":\"a string\",\n  \"Apellidos\":\"a string\",\n  \"Edad\":\"a string\",\n  \"inicio_cita\":\"a string\",\n  \"fin_cita\":\"a string\",\n  \"Tratamiento\":\"a string\",\n  \"Formato\":\"a string\",\n  \"numerotelefono\":\"a string\",\n  \"accion\":\"a string\",\n  \"ID\":\"a string\",\n  \"hora1\":\"a string\",\n  \"hora2\":\"a string\",\n  \"hora3\":\"a string\",\n  \"hora4\":\"a string\",\n  \"inicio_cita_nueva\": \"a string\",\n  \"fin_cita_nueva\": \"a string\"\n}\n\n---\n\nResumen:\n- Espera fecha/hora (valida rango y feriados).\n- Activa tools en secuencia: informacion → cita → calendario1.\n- Cuando la cita sea reagendada correctamente, activa “reagendar” de inmediato.\n- Confirma éxito al paciente o sugiere nuevas opciones válidas.\n- Nunca sobrescribas “inicio_cita” (mantén la cita original).\n- Sé cordial, profesional y usa máximo 2 emojis.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -4000,
        2288
      ],
      "id": "5af4782d-3ab7-46c7-9358-9966105494c2",
      "name": "AI Agent1",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4112,
        2480
      ],
      "id": "11c9353c-3508-455b-8a6e-4f472856e327",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "egUJWMnlMd1H3Yl1",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.numero }}",
        "tableName": "clinicaarroyo",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -3984,
        2480
      ],
      "id": "39adec7b-ed34-4a11-abb9-2475a78467ba",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "mZSmgwVpawgZ2rfp",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -3680,
        2496
      ],
      "id": "11c2288a-aa21-4622-9d68-10a3138513d9",
      "name": "Think2",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WbHkgOHpYxCMx-H1585DVvhyiqFOztP57KzyfOQ92FY",
          "mode": "list",
          "cachedResultName": "Seguimiento - Patragonia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbHkgOHpYxCMx-H1585DVvhyiqFOztP57KzyfOQ92FY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WbHkgOHpYxCMx-H1585DVvhyiqFOztP57KzyfOQ92FY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "numero",
              "lookupValue": "={{ $json.body.sender.identifier }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3536,
        1056
      ],
      "id": "8c1ae0ce-f981-4a6a-a552-c0baf60bc05c",
      "name": "Get row(s) in sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options_Create_instance": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -3552,
        2288
      ],
      "id": "70bb2759-b984-459c-8574-b011b1e5383b",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "vlw4gh2PISJFhWIC",
          "name": "Evolution account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "description": "usa esta tool para reagendar citas",
        "workflowId": {
          "__rl": true,
          "value": "cEYvXwuudIyuvLcE",
          "mode": "list",
          "cachedResultName": "calendario  arroyo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre(s)": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_s_', ``, 'string') }}",
            "Apellidos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Apellidos', ``, 'string') }}",
            "Edad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Edad', ``, 'string') }}",
            "inicio_cita": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('inicio_cita', `Inicio de la cita agendada o que va a agendar. `, 'string') }}",
            "fin_cita": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fin_cita', `siempre es 15 minutos despues de inicio_cita`, 'string') }}",
            "Tratamiento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tratamiento', ``, 'string') }}",
            "Formato": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Formato', ``, 'string') }}",
            "numerotelefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numerotelefono', ``, 'string') }}",
            "accion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('accion', ``, 'string') }}",
            "ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID', `id google calendar`, 'string') }}",
            "hora1": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora1', `2 horas antes de inicio_cita`, 'string') }}",
            "hora3": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora3', `1 horas despues de inicio_cita`, 'string') }}",
            "hora4": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora4', `2 horas despues de inicio_cita`, 'string') }}",
            "hora2": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora2', `1 hora antes de inicio_cita`, 'string') }}",
            "inicio_cita_nueva": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('inicio_cita_nueva', `Nuevo inicio de cita propuesto para reagendar. Solo en caso de reagendamiento/cambio de cita. `, 'string') }}",
            "fin_cita_nueva": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fin_cita_nueva', `Nuevo fin de cita propuesto para reagendar. Duración siempre de 15 minutos.Solo en caso de reagendamiento/cambio de cita`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre(s)",
              "displayName": "Nombre(s)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Apellidos",
              "displayName": "Apellidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Edad",
              "displayName": "Edad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "inicio_cita",
              "displayName": "inicio_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fin_cita",
              "displayName": "fin_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Tratamiento",
              "displayName": "Tratamiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Formato",
              "displayName": "Formato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numerotelefono",
              "displayName": "numerotelefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hora1",
              "displayName": "hora1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hora2",
              "displayName": "hora2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hora3",
              "displayName": "hora3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hora4",
              "displayName": "hora4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "inicio_cita_nueva",
              "displayName": "inicio_cita_nueva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fin_cita_nueva",
              "displayName": "fin_cita_nueva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -3552,
        2496
      ],
      "id": "90fe1313-1955-4f97-be03-f2d43e7762b5",
      "name": "calendario1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "numerosrecordatorios_arroyo",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "recordatorio1",
              "fieldValue": "no"
            },
            {
              "fieldId": "confirmación",
              "fieldValue": "no"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -3760,
        2624
      ],
      "id": "1562cf13-ed88-4b95-a858-aeafe64219f3",
      "name": "reagendar",
      "credentials": {
        "supabaseApi": {
          "id": "Is9EIudU5YHa0aHz",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "numerosrecordatorios_arroyo",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "condition": "eq",
              "keyValue": "={{ $json.numero }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "respuesta",
              "fieldValue": "si"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4736,
        2192
      ],
      "id": "597220b6-c1c8-4a1d-a4a0-c43e83f1999d",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "Is9EIudU5YHa0aHz",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "numerosrecordatorios_arroyo",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "keyValue": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -3664,
        2624
      ],
      "id": "e55a8421-578f-42c9-936e-fdaad87faa45",
      "name": "informacion",
      "credentials": {
        "supabaseApi": {
          "id": "Is9EIudU5YHa0aHz",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "staffclinicaarroyo@gmail.com",
          "mode": "list",
          "cachedResultName": "staffclinicaarroyo@gmail.com"
        },
        "eventId": "={{ $('Update a row').item.json.idcalendar }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -3824,
        2496
      ],
      "id": "ce81464d-4e3c-4708-8bde-3b1e20ea680a",
      "name": "cita",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "DDDD tt",
        "options": {
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -4272,
        2208
      ],
      "id": "eea13dc7-3488-4943-977f-c88c0ee8a090",
      "name": "Formatea fecha1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -4464,
        2208
      ],
      "id": "5d96a770-b198-49b5-95cf-08cc8bb473ca",
      "name": "Fecha1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Webhook').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $('Webhook').item.json.body.data.key.id }}"
            },
            {
              "name": "convertTomp4",
              "value": "={{Boolean(False)}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1312,
        1088
      ],
      "id": "b29b197c-41a2-45bc-9c9f-2169aee2682b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1088,
        1088
      ],
      "id": "d379e8b8-22f9-41b7-a868-e2f73999c961",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.conversation.messages[0].attachments[0].data_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1312,
        1232
      ],
      "id": "8d12f54e-c3e9-45c6-a990-33ec99e766a6",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2acc3e64-d51a-4e98-84a5-e2b17c788fa2",
              "leftValue": "={{ $('Webhook').item.json.body.conversation.messages[0].sender_type }}",
              "rightValue": "User",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3872,
        1056
      ],
      "id": "8e5469ac-6f7d-4d99-8ce0-dedfd54cdd0a",
      "name": "If4"
    },
    {
      "parameters": {
        "description": "Llama esta tool cuando se necesite calcular el monto total a pagar por el cliente. Escribe aquí un resumen detallado de qué productos quiere el cliente y para qué distrito, basándote en el historial del chat.",
        "workflowId": {
          "__rl": true,
          "value": "aNSH8JeXNdZ8Y8xz",
          "mode": "list",
          "cachedResultUrl": "/workflow/aNSH8JeXNdZ8Y8xz",
          "cachedResultName": "Monto Total - Patragonia"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Resumen_pedido": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Resumen_pedido', ``, 'string') }}"
          },
          "matchingColumns": [
            "platos"
          ],
          "schema": [
            {
              "id": "Resumen_pedido",
              "displayName": "Resumen_pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "termino",
              "displayName": "termino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4496,
        1520
      ],
      "id": "c9a517a9-5c60-48ec-9518-220d6f04925a",
      "name": "Monto Total"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utiliza esta herramienta EXCLUSIVAMENTE cuando el cliente haya confirmado el pedido/reserva y el método de pago/datos finales.\n\nINSTRUCCIONES PARA LLENAR LAS COLUMNAS (MAPPING):\n\n1. cliente_nombre: El nombre que dio el cliente.\n2. cliente_telefono: Su número de celular.\n3. cliente_direccion:\n   - Si es DELIVERY: \"Calle/Av [Nombre] [Número], [Distrito]\". (Asegúrate de tener el distrito).\n   - Si es RECOJO: Poner \"RECOJO EN TIENDA\".\n   - Si es RESERVA: Poner \"RESERVA DE MESA\".\n\n4. items (IMPORTANTE - FORMATO JSON ARRAY):\n   Debes generar un JSON Array válido (usa comillas rectas \" no curvas).\n   - CASO COMIDA: [\"1x Pizza Americana Grande\", \"1x Coca Cola\", \"Total: S/ 55\", \"Pago: Yape\"]\n   - CASO RESERVA: [\"Fecha: 21/01/26\", \"Hora: 9:00 PM\", \"Personas: 5\", \"Pre-orden: Ninguna\"]\n   *NOTA SOBRE LA HORA:* Si el cliente dice \"a las 9\", registra SIEMPRE \"9:00 PM\" (Asume horario tarde/noche).\n\n5. comentarios:\n   - Registra alergias, restricciones (\"Sin cebolla\") o referencias de la casa.\n   - Si no hay comentarios, déjalo vacío",
        "tableId": "orders",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cliente_nombre",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "cliente_telefono",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "cliente_direccion",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "items",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues6_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "comentarios",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues4_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        4656,
        1584
      ],
      "id": "4ba73842-c8a2-46ef-ab86-e2bde8d24ed9",
      "name": "Orden",
      "credentials": {
        "supabaseApi": {
          "id": "Is9EIudU5YHa0aHz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "name": "informacion",
        "description": "Llama esta tool cuando se necesite información sobre la carta, algún platillo en especifico, alguna otra información del restaurante, o sobre el delivery.",
        "workflowId": {
          "__rl": true,
          "value": "3uY1pnMN8WJqdrC3",
          "mode": "list",
          "cachedResultUrl": "/workflow/3uY1pnMN8WJqdrC3",
          "cachedResultName": "Info-inmobiliarias"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        4400,
        1136
      ],
      "id": "bc3e38c9-40e0-4ccb-8286-9ff2566cc9ba",
      "name": "Información"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17qMx7iRr0AGetA-pmE6GMnunnt9aF3M7MJ8gl6qMJ_s",
          "mode": "list",
          "cachedResultName": "Control de mensajes - Patragonia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17qMx7iRr0AGetA-pmE6GMnunnt9aF3M7MJ8gl6qMJ_s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i3yujna3CFEyGmWoYdQ1ztXHetrQ1ivJNQit7aCzG5E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Webhook').item.json.body.conversation.meta.sender.identifier }}",
            "Mensaje": "={{ $('Webhook').item.json.body.content }}",
            "Fecha": "={{ $now }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3616,
        832
      ],
      "id": "d162e27e-66d3-45bb-8430-05603dd46c3f",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o9B6wlbEbvmvjzjq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "name": "pasar_supervisor",
        "description": "Llama esta herramienta cuando desees pasar a supervisor.",
        "workflowId": {
          "__rl": true,
          "value": "CT6eE3pVNUQoXqSI",
          "mode": "list",
          "cachedResultUrl": "/workflow/CT6eE3pVNUQoXqSI",
          "cachedResultName": "Supervisor v.1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $json.id }}",
            "conversation_id": "={{ $('Edit Fields17').item.json.Conversation_ID }}",
            "contact_id": "={{ $('Edit Fields17').item.json.Contact_ID }}"
          },
          "matchingColumns": [
            "chatwootid"
          ],
          "schema": [
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        4704,
        1120
      ],
      "id": "12b01c5b-384f-4c62-884b-4a9f6a0a3825",
      "name": "supervisor"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1168,
        1424
      ],
      "id": "96808d7e-ee3c-49ea-b9b6-f3100be9dc76",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "jsCode": "// Verifica si hay imagen descargada\nif (items[0].binary && items[0].binary.data) {\n  const binaryData = items[0].binary.data;\n  \n  return [\n    {\n      json: {\n        // Mantiene el texto del usuario para que la IA sepa qué hacer\n        query: $('Webhook').item.json.content || \"Describe esta imagen\",\n        // Pasa la imagen en formato que la IA entiende\n        imagen_base64: binaryData.data,\n        mime_type: binaryData.mimeType\n      }\n    }\n  ];\n} else {\n  return items; // Si no hay imagen, pasa normal\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        1264
      ],
      "id": "10d5201f-a89e-4d63-8a2b-11b0dafcfb12",
      "name": "Imagen"
    },
    {
      "parameters": {
        "description": "Agendar, reprogramar o cancelar visitas",
        "workflowId": {
          "__rl": true,
          "value": "12k0M2dArLduOxWl",
          "mode": "list",
          "cachedResultUrl": "/workflow/12k0M2dArLduOxWl",
          "cachedResultName": "Calendar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre(s)": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_s_', ``, 'string') }}",
            "Apellidos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Apellidos', ``, 'string') }}",
            "Edad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Edad', ``, 'string') }}",
            "inicio_cita": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('inicio_cita', ``, 'string') }}",
            "fin_cita": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fin_cita', ``, 'string') }}",
            "Tratamiento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tratamiento', ``, 'string') }}",
            "numerotelefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numerotelefono', ``, 'string') }}",
            "Formato": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Formato', ``, 'string') }}",
            "accion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('accion', ``, 'string') }}",
            "hora1": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora1', ``, 'string') }}",
            "ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID', ``, 'string') }}",
            "hora2": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora2', ``, 'string') }}",
            "hora4": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora4', ``, 'string') }}",
            "hora3": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora3', ``, 'string') }}",
            "inicio_cita_nueva": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('inicio_cita_nueva', ``, 'string') }}",
            "fin_cita_nueva": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fin_cita_nueva', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre(s)",
              "displayName": "Nombre(s)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Apellidos",
              "displayName": "Apellidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Edad",
              "displayName": "Edad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "inicio_cita",
              "displayName": "inicio_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fin_cita",
              "displayName": "fin_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Tratamiento",
              "displayName": "Tratamiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Formato",
              "displayName": "Formato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numerotelefono",
              "displayName": "numerotelefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hora1",
              "displayName": "hora1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hora2",
              "displayName": "hora2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hora3",
              "displayName": "hora3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hora4",
              "displayName": "hora4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "inicio_cita_nueva",
              "displayName": "inicio_cita_nueva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fin_cita_nueva",
              "displayName": "fin_cita_nueva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4576,
        1312
      ],
      "id": "f05e144f-d686-4f2a-a53c-5cdf33a431d1",
      "name": "Agendar"
    },
    {
      "parameters": {},
      "type": "@respond-io/n8n-nodes-respond-io.respondioTrigger",
      "typeVersion": 1,
      "position": [
        -4096,
        1072
      ],
      "id": "8c187b3a-539e-4bf7-9a16-292c81edb74c",
      "name": "Respond.io Trigger",
      "webhookId": "fb778ef5-c770-43ab-92c6-5d1def68dbb3",
      "credentials": {
        "respondIoApi": {
          "id": "d00KvUUY0HFi3kMQ",
          "name": "Lolotec"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Verificador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Verificador1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Verificador1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verificador1": {
      "main": [
        [
          {
            "node": "ENVIAR PARTE 1 TEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields17",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AUDIO": {
      "main": [
        [
          {
            "node": "Edit Fields17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields17": {
      "main": [
        [
          {
            "node": "Fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Get Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Edit Fields19",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Redis": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Redis": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Redis": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields19": {
      "main": [
        [
          {
            "node": "Delete Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatea fecha": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handler variables": {
      "main": [
        [
          {
            "node": "Push Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fecha": {
      "main": [
        [
          {
            "node": "Formatea fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If2 parte 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Enviar parte  3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If parte 3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2 parte 2": {
      "main": [
        [
          {
            "node": "Enviar parte  4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar parte  3": {
      "main": [
        [
          {
            "node": "Update row in sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If parte ": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Pasar supervisor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pasar supervisor": {
      "main": [
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "CRM Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "CRM Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "CRM Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM": {
      "ai_tool": [
        [
          {
            "node": "CRM Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ENVIAR PARTE 1 TEXT": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIAR IMAGEN": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar parte  4": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Enviar parte  ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIAR IMAGEN2": {
      "main": [
        [
          {
            "node": "Update row in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIAR IMAGEN3": {
      "main": [
        [
          {
            "node": "Update row in sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIAR IMAGEN4": {
      "main": [
        [
          {
            "node": "Update row in sheet9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "ENVIAR IMAGEN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "ENVIAR IMAGEN2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "video": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "ENVIAR IMAGEN3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "video2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "video2": {
      "main": [
        [
          {
            "node": "Update row in sheet7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "ENVIAR IMAGEN4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "video3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "video3": {
      "main": [
        [
          {
            "node": "Update row in sheet10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar parte  ": {
      "main": [
        [
          {
            "node": "Update row in sheet8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [
          {
            "node": "Edit Fields17",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Edit Fields17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If13": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Handler variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet3": {
      "main": [
        [
          {
            "node": "If parte 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet5": {
      "main": [
        [
          {
            "node": "If parte ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet6": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet7": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet8": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet9": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet10": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "If13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calendario1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "reagendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Fecha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "informacion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Formatea fecha1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fecha1": {
      "main": [
        [
          {
            "node": "Formatea fecha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "AUDIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        []
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monto Total": {
      "ai_tool": [
        []
      ]
    },
    "Orden": {
      "ai_tool": [
        []
      ]
    },
    "Información": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supervisor": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        []
      ]
    },
    "Imagen": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "ai_tool": [
        []
      ]
    },
    "Respond.io Trigger": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9e05623c-2dd5-4eb3-a49c-b17c4d6947e4",
  "meta": {
    "instanceId": "654f6166f4ce095c6342f2134b81dea392b3058ba3b2559225b5df80ed00860b"
  },
  "nodeGroups": [],
  "id": "1F5ShjDucAQfIjZq",
  "tags": []
}